# ========================
#   Vitepress & Vuepress
# ========================
node_modules
# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# vuepress
**/.vuepress/.temp
**/.vuepress/.cache
**/.vuepress/dist